* {
    font-family: 'Roboto', sans-serif;
}

.nav {
    width: 100%;
    box-sizing: border-box;
    padding: 2% 5% 2% 2%;
    /* remember - margin and padding order is always: top right bottom left */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    position: fixed;
}

.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
    list-style: none;
    margin-left: 0;
}

.hburg-menu {
    display: none;
    font-size: 2rem;
    padding: 3%;
}

.hburg-menu:hover, .fa-xmark:hover {
    cursor: pointer;
}

.fa-xmark {
    font-size: 2rem;
    padding: 3%;
}

#about, #projects, #resume, #contact {
    scroll-margin-top: 15em;
}

.menu {
    display: none;
    position: fixed;
    transform: translateY(-200%);
    transition: transform 0.3s;
    top: 0;
    right: 0;
    z-index: 99;
    list-style: none;
    padding: 3%;
    background-color: white;
}

.menuItem {
    display: none;
    margin: 2rem 4rem;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: right;
}

.Prateek {
    margin-top: 5em;
    display: block;
    text-align: center;
    font-size: 2em;
}

.container {
    width: 80%;
    margin: auto;
}

.subheading {
    text-align: center;
    font-size: .95em;
}

.section-heading {
    text-align: center;
    font-size: 2em;
}

.about-section {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border: solid black 3px;
    padding: 5%;
}

.synopsis {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.prateek-photo {
    width: 30em;
    height: auto;
    margin: auto;
}

.projects {
    text-align: center;
    border: solid black 3px;
    padding: 3%;
}

.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-display {
    width: 100%;
    height: 50em;
}

.download-button {
    font-size: 1.5em;
    padding: .5em 1em;
    margin: 15% auto;

}

.contact {
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.contact-list {
    list-style: none;
    text-align: center;
    padding: 0;
}

/* media queries */

@media screen and (max-width: 320px) {
    .container {
        padding: 5%;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-wrap: nowrap;
        padding: 1.5rem;
    }

    .nav-bar {
        display: none;
    }

    .hburg-menu {
        display: block;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: end;
        background-color: white;
    }

    .menuItem {
        display: block;
    }

    .fa-xmark {
        font-size: 2.5em;
    }

    .showMenu {
        transform: translateY(0);
    }
    .prateek-photo {
        width: 100%;
        height: auto;
        margin: auto;
    }
    .about-section {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        border: none;
    }
    .synopsis {
        margin-top: 10%;
    }
    .projects {
        border: none;
    }
    .resume-display {
        display: none;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .container {
        padding: 5%;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-wrap: nowrap;
        padding: 1.5rem;
    }

    .nav-bar {
        display: none;
    }

    .hburg-menu {
        display: block;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: end;
        background-color: white;
    }

    .menuItem {
        display: block;
    }

    .fa-xmark {
        font-size: 2.5em;
    }

    .showMenu {
        transform: translateY(0);
    }
    .prateek-photo {
        width: 100%;
        height: auto;
        margin: auto;
    }
    .about-section {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        border: none;
    }
    .synopsis {
        margin-top: 10%;
    }
    .projects {
        border: none;
    }
    .resume-display {
        display: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        padding: 5%;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-wrap: nowrap;
        padding: 1.5rem;
    }

    .nav-bar {
        display: none;
    }

    .hburg-menu {
        display: block;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: end;
        background-color: white;
    }

    .menuItem {
        display: block;
    }

    .fa-xmark {
        font-size: 2.5em;
    }

    .showMenu {
        transform: translateY(0);
    }
    .prateek-photo {
        width: 100%;
        height: auto;
        margin: auto;
    }
    .about-section {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        border: none;
    }
    .synopsis {
        margin-top: 10%;
    }
    .projects {
        border: none;
    }
    .resume-display {
        width: 100%;
        height: 30em;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        padding: 5%;
    }

    .nav {
        display: flex;
        justify-content: end;
        flex-wrap: nowrap;
        padding: 1.5rem;
    }

    .nav-bar {
        display: none;
    }

    .hburg-menu {
        display: block;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: end;
        background-color: white;
    }

    .menuItem {
        display: block;
    }

    .fa-xmark {
        font-size: 2.5em;
    }

    .showMenu {
        transform: translateY(0);
    }
    .prateek-photo {
        width: 90%;
        height: auto;
        margin: 5%;
    }
    .about-section {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .synopsis {
        margin-top: 2%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px ){
    .Prateek {
        margin-top: 8em;
    }

    .prateek-photo {
        width: 90%;
        height: auto;
        margin: 5%;
    }
    .about-section {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1350px) {
    .Prateek {
        margin-top: 8em;
    }

    .prateek-photo {
        width: 35em;
        height: auto;
        margin: auto;
    }

    .synopsis {
        font-size: .90em;
        margin-left: 3%;
    }
}

@media screen and (min-width: 1351px) {
    .Prateek {
        margin-top: 8em;
    }

    .synopsis {
        margin-left: 3%;
    }
}