* {
    font-family: 'Roboto', sans-serif;
}

.Prateek {
    display: block;
    text-align: center;
    font-size: 2em;
}

/* media queries */

@media screen {
    
}

@media screen {
    
}

@media screen {
    
}