* {
    font-family: 'Roboto', sans-serif;
}

.nav {
    width: 90%;
    padding: 2%;
    margin: auto;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    position: fixed;
}

.nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
    list-style: none;
}

.Prateek {
    margin-top: 5em;
    display: block;
    text-align: center;
    font-size: 2em;
}

.container {
    width: 80%;
    margin: auto;
}

.subheading {
    text-align: center;
    font-size: .95em;
}

.section-heading {
    text-align: center;
    font-size: 2em;
}

.about-section {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.synopsis {
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.prateek-photo {
    width: 30em;
    height: auto;
}

.projects {
    text-align: center;
}

.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-display {
    width: 100%;
    height: 50em;
}

.download-button {
    font-size: 1.5em;
    padding: .5em 1em;
    margin: 15% auto;

}

.contact {
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.contact-list {
    list-style: none;
}

/* media queries */

@media screen and (max-width: 320px) {
    .prateek-photo {
        width: 90%;
        height: auto;
        margin: auto;
    }
    .about-section {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .resume-display {
        width: 100%;
        height: 20em;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .prateek-photo {
        width: 90%;
        height: auto;
        margin: auto;
    }
    .about-section {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .resume-display {
        width: 100%;
        height: 20em;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .prateek-photo {
        width: 90%;
        height: auto;
        margin: auto;
    }
    .about-section {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .resume-display {
        width: 100%;
        height: 20em;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .prateek-photo {
        width: 90%;
        height: auto;
        margin: auto;
    }
    .about-section {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px ){
    .prateek-photo {
        width: 90%;
        height: auto;
        margin: auto;
    }
    .about-section {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1350px) {
    .prateek-photo {
        width: 35em;
        height: auto;
        margin: auto;
    }

    .synopsis {
        font-size: .90em;
    }
}